[user]
        email = fh13286@my.bristol.ac.uk
        name = knarfrank
[core]
        autocrlf = input
        excludesfile = ~/.dotfiles/git/gitignore
	pager = less
[push]
        default = simple
[alias]
        status = status -sb
        lg = log --abbrev-commit --graph --format='%ar %Cred%h %Cblue%an%Creset - %s'
        st = status -sb
[color]
        ui = auto
[advice]
        statusHints = false
