set autoread

set smartcase
set hlsearch
set incsearch


" Editor Settings
syntax enable
set number
set ruler

" Matching brackets
set showmatch
set mat=2

" Use spaces instead of tabs
set expandtab
set smarttab
set shiftwidth=4
set tabstop=4


autocmd VimEnter * NERDTree
autocmd VimEnter * wincmd p

execute pathogen#infect()
call pathogen#helptags()
